// Body
$body-bg: white;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
// $font-family: 'Roboto', sans-serif;
$font-size-base: 0.7rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// Colors
$primary: #BE93CD;
$secondary: #EEE7F3;
$fondo: #F4F4F4;
$texto: #2F2A2A;
$negrita: #5F1961;
// Letras: andika - arimo - chewy
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
